@primary: #F22613;
@secondary: #111;

@white: white;
@black: #111;

@yellow: #FEAF05;

@dark-grey: #333;
@grey: #eee;


.primary{
  color:@primary;
}
.primary-bg{
  background:@primary;
}

.secondary{
  color:@secondary;
}
.secondary-bg{
  background:@secondary;
}