.grayscale, .greyscale{
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.small-avatar{
  width: 40px;  
  height: 40px;
  overflow:hidden;
  margin: auto;

  img{
    width: 100%;
  }
}

.container-fluid {
  .title{ 
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; 
  }
}
button{
  outline: none !important;
  border:none;
  .smooth;
  &.active{
    box-shadow: inset 0 -2px 0 darken(@primary, 10%);
  }
}
.vertical-center{
  //position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.smooth{ transition:ease-in .25s; }
.smooth-mid{ transition:ease-in .5s; }
.smooth-long{ transition:ease-in .75s; }

.splitted-box{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: @dark-grey;
  padding: 0;
  overflow:hidden;
  
  &.splitted-fluid{
    height: 100%;

    &:before{
      content:"";
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-image: url('/images/player.jpg');
      background-size: cover;
      background-position: center center;
      z-index: -9;
    }

    .right-box{
      height: 100% !important;
    }

    span{
      width: auto !important;
      font-size: 2em;
      //border-bottom: 1px solid @white;
      text-transform: uppercase;
      letter-spacing: 2px;
      .bold;
    }
  }

  span{
    .light;
    font-size: 3em;
    width: 20px;
    position: absolute;
    z-index: 99;
    color:@white;
    line-height: 50px;
    right:30px;
  }
  
  .right-box{
      background: @primary;
      width: 42.5%;
      height:50px;
      position:relative;
      z-index: 9;

      span{
        line-height: 50px;
        left:30px;
      }
    
    &:after {
      background: @primary;
      content:'';
      width:100%;
      height:100%;
      position:absolute;
      transform:skewX(-25deg);
      left:20%;
      z-index: 0;
    }
  }
}


.follow-up{
  .bold;
  .smooth;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  line-height: 40px;
  background: @primary;
  color:@black;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 160px;
  height: 40px;
  border-radius: 10px;

  &:hover{
    color:@primary;
    background: @black;
  }
}


.title{
  text-transform: uppercase;
  color: @secondary;
  .light;
  strong{ 
    color: @primary;
    .regular;
  }
}

.heading-image{
  margin-bottom: 35px;
  height: 350px;
  width: 100%;
  background-image: url('/images/stadium.jpg');
  background-size: cover;
  background-position: center center;

  .title{
    text-align: center;
    position: relative;
    margin-top: 0;
    color: @white;
    text-shadow: 1px 1px 1px @black;
    .vertical-center;
  }
}

.circle{
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border:2px solid @white;

  &.active{
    background:@white;
  }
}

.common-page-container{
  padding: 0;
}

.public-sponsor{
  width: 100%;
  height: auto;
}