// Scorers rankings in homepage
.scorers-excerpt{
  vertical-align: top !important;
  margin: 13px;
  @media @xs{
    margin: 10px 0px;
  }
  display:inline-block;
  width: 275px;
  border-radius: 15px;
  background: @white;
  border: 1px solid @primary;
  box-shadow: 0 0 10px fade(@black, 50%);
  overflow:hidden;
  text-align: center;
  .club-photo{
    height: 140px;
    overflow:hidden;
    img{ width: 100%; }
  }

  .club-name{
    padding: 10px 0;
    background: @black;
    color:@primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .round-name{
    padding: 10px 0;
    border-bottom: 1px solid @primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  .player{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid @grey;
    div{
      font-size: .9em;
      font-weight: bold;
      float:left;
      
      
      &:first-child{
        font-size: 1em;
        width: 40px;
        text-overflow: ellipsis; 
        white-space: nowrap;
        overflow:hidden;
      }
      &:nth-child(2){
       width: 120px; 
       text-overflow: ellipsis; 
       white-space: nowrap;
       overflow:hidden;
      }
      &:last-child{
        width: 110px; 
        font-size: .75em;
        color:@dark-grey;
        font-weight: normal;
        white-space: nowrap;
        overflow:hidden;
      }
      &:after{
        content: '';
        display: block;
        clear:both;
      }
    }
  }
  .viewmore{
    font-size: .85em;
    height: 30px;
    line-height: 30px;
    background: @grey;
    color: @dark-grey;
    text-transform: uppercase;
    font-weight: bold;
  }
}


// news excerpt in homepage
.news-excerpt{
  background: @white;
  margin-bottom: 25px;
  margin-right: 25px;
  display:inline-block;
  max-width: 575px;
  width: 45%;
  height: 275px;
  overflow:hidden;
  position: relative;
  border: 1px solid @primary;
  border-radius:15px;

  // &.news-public-page{
  //   width: 100% !important;
  // }

  @media screen and (max-width:1199px){
    width: 100%;
  }

  .featured{
    height: 100%;
    width: 40%;
    max-width: 275px;
    overflow:hidden;
    float:left;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .post{
    width: 55%;
    &.wide{
      width: 100% !important;
    }
    height: 100%;
    position: relative;
    text-align: left;
    float:left;
    padding-left: 15px;

    box-shadow: inset -10px 0px 5px @white;

    h1{
      font-size: 1.25em;
      font-weight: bold;
      text-transform: uppercase;
      color: @primary;
      margin-bottom: 5px;
    }
    .date{
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .excerpt{
      font-family: 'Helvetica';
      font-size: 1em;
      line-height: 150%;
      overflow:hidden;
      height: 50%;

    }
  }
  .followup{
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom:10px;
    right: 10px;
    cursor:pointer;
    .smooth;
    &:hover{
      color: @primary;
    }
  }

  &.news-public-page{
    border-radius:0px;
    border-width: 2px;
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    border-top:none;
    border-left:none;
    border-right:none;
    .post{
      width: 50%;
    }
    .followup{
      bottom: 40px;
      right: 30px;
    }
  }
}


#modal{
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: @white;
  
  .fa-close{
    cursor: pointer;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 3em;
  }

  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: fade(@black, 90%);
  }

  .single-img-container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width: 85%;
    height: 75%;
    overflow:hidden;
    margin: 0 auto;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
    
  }


}


