.landing-container{
  position:relative;
  top:0; left:0;
  z-index: -9;
  height: 100vh;
  background-image: url('/images/globus_landing.jpg');
  background-size: cover;
  background-position: center center;

  .logo{
    max-width: 600px; 
    width: 100%;
  }

  .heading{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:@white;
  }

  .title{
    font-size: 8em;
    text-align: center;
    font-family: 'Arial';
    text-transform: lowercase;
    color:@white;
    text-shadow: 1px 1px 1px @black;
    strong{
      color:@yellow;
    }
  }
 
  .catch_phrase, .payoff{
    .regular;
    letter-spacing: 1px;
    font-size: 2.25em;
  }
  .catch_phrase{
    margin-bottom: -10px;
    color:@white;
  }
  .payoff{
    color: @primary;
  }
}

.lastday-container{
  padding-bottom: 50px;
}

.scorers-container{
  min-height: 625px;
  height: auto;
  background: url('/images/scorers_divider.jpg');
  background-position: center;
  background-size: cover;

  .title{
    color:@white;
  }
}

.news-container{
  padding-bottom: 75px;
  
  & > .title{
    text-align: center;
    margin-bottom: 50px;
  }

  .single-news{
    position: relative;
    height: 200px; 
    
    .featured{
      height: 100%;
      float:left;
      width: 40%;

      background: url('/images/field.jpg');
      background-position: center center;
    }
    .excerpt{
      text-align: center;
      height: 100%;
      background: @grey;
      float:left;
      width: 60%;
      .single-title{ 
        .bold;
        font-size: 1.5em; 
        color: @primary;
      }
      .body{
        .light;
        padding:5px;
      }
      .read-more{
        cursor:pointer;
        .bold;
        text-transform: uppercase;
        position: absolute;
        bottom:10px;
        right:25px;
        font-size: 0.9em;
        color:@primary;
        
        i{ .smooth; }

        &:hover{
          i{font-size: 1.1em;}
        }
      }
    }
  }
}



.sponsor-container{
  min-height: 250px;
  .title{
    padding-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid fade(@dark-grey, 25%);
  }
  
  text-align: left;

  .home-sponsor{
    margin: 10px;
    height: 200px;
  }
}

.media-container{
  padding-top: 75px;
  padding-bottom: 75px;

  .home-photo{
    margin: 10px;
    height: 200px;
  }
}

.prize-container{
  position: relative;
  margin-top: 0;
  padding: 0;
  max-height: 820px;
  height: 100%;
  text-align: center;
  
  .single-prize{
    
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:after, &:before{
      content: '';
      position: absolute;
      height: 90%;
      width: 35%;
      border: 3px solid @primary;
      top:5%; 
      border-radius: 15px;
    }
    &:before{
      left:5% !important;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:after{
      right:5% !important;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .little-title{
      .regular;
      margin-top: 0;
      font-size: 1.5em;
      color:@primary;
      position: relative;
      top:4%;
    }

    .title{
      .regular;
      position: relative;
      top:10%;
      color: @white;
      margin: auto;
      width: 50%;
      text-transform: none;
    }

    .prize-city{
      .bold;     
      font-size: 7.5em;
      position: relative;
      top:30%;
      color: @primary;
      margin: auto !important;
      width: 50%;
      text-transform: uppercase;
      font-size: 7.5vw;
    }

    .prize-description{
      .regular;
      font-size: 1.25em;
      position: relative;
      top:50%;
      color: @white;
      margin: auto;
      width: 40%;
      text-transform: none;
    }

  }

  .slider-position{
    position: absolute;
    bottom:10px;
  }

}

