.slick-slider{
  height: 150px;
  width: 100%;

  .slick-track{
    height: 100% !important;
    .slick-slide{
      img{
        height: 150px;
        width: auto;
        margin: auto;
      }
    }
  }
}


#landing{
  position:relative;
  top:0; left:0;
  z-index: -9;
  height: 100vh;
  background-image: url('/images/globus_landing.jpg');
  background-size: cover;
  background-position: center center;

  .scroll-down-arrow{
    font-size: 3em;
    color: @white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    @media @sm { left: 45%; }
  }

  .logo{
    max-width: 600px; 
    width: 100%;
  }

  .heading{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:@white;
  }

  // .title{
  //   font-size: 8em;
  //   text-align: center;
  //   font-family: 'Arial';
  //   text-transform: lowercase;
  //   color:@white;
  //   text-shadow: 1px 1px 1px @black;
  //   strong{
  //     color:@yellow;
  //   }
  // }
 
  .catch_phrase, .payoff{
    .regular;
    letter-spacing: 1px;
    font-size: 2.25em;
    @media @sm{ font-size: 1.25em !important; }
    @media @md{ font-size: 1.75em; }
  }
  .catch_phrase{
    margin-bottom: -10px;
    color:@white;
  }
  .payoff{
    color: @primary;
    @media @xs{ margin-top: 5px; } 
  }
}

#results{
  padding-bottom: 50px;

  @media @sm{
    margin: 0;
  }
}

#scorers{
  text-align: center;
  min-height: 625px;
  height: auto;
  background: url('/images/scorers_divider.jpg');
  background-position: center;
  background-size: cover;

  .title{
    color:@white;
  }
}

#news{
  padding-bottom: 75px;
  text-align: center;
  
  & > .title{
    text-align: center;
    margin-bottom: 50px;
  }

  .single-news{
    position: relative;
    height: 200px; 
    
    .featured{
      height: 100%;
      float:left;
      width: 40%;

      background: url('/images/field.jpg');
      background-position: center center;
    }
    .excerpt{
      text-align: center;
      height: 100%;
      background: @grey;
      float:left;
      width: 60%;
      .single-title{ 
        .bold;
        font-size: 1.5em; 
        color: @primary;
      }
      .body{
        .light;
        padding:5px;
      }
      .read-more{
        cursor:pointer;
        .bold;
        text-transform: uppercase;
        position: absolute;
        bottom:10px;
        right:25px;
        font-size: 0.9em;
        color:@primary;
        
        i{ .smooth; }

        &:hover{
          i{font-size: 1.1em;}
        }
      }
    }
  }
}



#sponsors{
  min-height: 250px;
  text-align: center;

  .title{
    padding-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid fade(@dark-grey, 25%);
  }

  .carousel-container {  
    position:relative;
    max-width:100%;
    overflow:hidden;
  }
  #SponsorCarousel{
    display:none;
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    
    .nbs-flexisel-item {
        float:left;
        margin:0px;
        padding:0px;
        cursor:pointer;
        position:relative;
        line-height:0px;

        .home-sponsor{
          margin: 10px;
          max-width: 100%;
          max-height: 100%;
          border:10px solid @white;
        }
    }
  }


  

}

.media-container{
  padding-bottom: 75px;
  text-align: center;
  
  .home-photo{
    margin: 10px;
    max-height: 200px;
    max-width: 90%;
  }
}

#prize{
  position: relative;
  margin-top: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  overflow:hidden;
  
  max-height: 720px;
  @media @md{ max-height: 480px; }
  @media @sm{ max-height: 320px; }
  
  .single-prize{
    
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:after, &:before{
      content: '';
      position: absolute;
      height: 90%;
      width: 35%;
      border: 3px solid @primary;
      top:5%; 
      border-radius: 15px;
    }
    &:before{
      left:5% !important;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:after{
      right:5% !important;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .little-title{
      .regular;
      margin-top: 0;
      font-size: 1.75em;
      color:@primary;
      position: relative;
      top:4%;
      @media @xs{ top:2.5%; }
    }

    .title{
      .regular;
      position: relative;
      top:10%;
      color: @white;
      margin: auto;
      text-transform: none;
      width: 80%;
      @media @md{
        font-size: 1.25em;
        top: 4%;
      }
    }

    .prize-city{
      .bold;     
      //font-size: 7.5em;
      position: relative;
      top:30%;
      color: @primary;
      margin: auto !important;
      width: 50%;
      text-transform: uppercase;
      font-size: 7vw;

    }

    .prize-description{
      .regular;
      font-size: 1.25em;
      position: relative;
      top:50%;
      color: @white;
      margin: auto;
      width: 80%;
      text-transform: none;
      @media @xs{
        font-size: 1em;
      }
    }

  }

  .slider-position{
    position: absolute;
    bottom:25px;
    @media @md{
      bottom:10px;
    }
    .circle{
      display: inline-block;
      margin-right: 10px;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      border:2px solid @white;

      @media @sm{
        height: 10px;
        width: 10px;
        margin-right: 3px;
      }

      &.active{
        background:@white;
      }
    }
  }

}

