.navbar{
  font-size: .85em;
  background: fade(@black, 50%);
  border-radius: 0px;
  border:none;
  left:0;
  width: 100%;
  height: 75px;
  color:@white;
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  z-index: 9999;
  
  transition: background-color ease-out 0.5s;


  .navbar-toggle{
    border:none;
    &:hover, &:focus, &:active{
      background: transparent;
    }
  }

  .navbar-collapse{
    .smooth;
    &.in{
      text-align: center;
      background: fade(@black, 75%);

      li{
        height: auto;
        padding: 15px 0;
        margin-left: 0;
        &:hover, &:focus, &:active{
          border: none;
        }
      }
    }
  }

  .navbar-right{
    padding-top: 35px;

    & > li{
      height: 40px;
      margin-left: 25px;
      .smooth;
      &.current {
        a{color:@primary !important;}
        .dropdown-menu{
          a{ 
            color: @white !important;
            &:hover{
              color: @primary !important;
            }
          }
        }
      }
      &:hover, &.current{
        border-bottom: 4px solid @primary;
      }
      a{
        .bold;
        .smooth;
        padding: 0;
        margin: 0;
        color:@white !important;
        letter-spacing: 1px;

        &:hover{
          color:@primary !important;
        }
      }
    }
    
    .dropdown-menu{
      a{ 
        padding: 10px;
        background: transparent;
        color: @white;
        .smooth;
        &:hover, &:focus, &:active{ 
          color:@primary;
          background: transparent;
        }
      }
    }


  }

  &.nav-dark{
    background: @black;
  }

  .navbar-brand{
  }
  .navbar-brand img{
    margin-left: 30px;
    max-width: 190px;
    width: 100%;
  }

  .open > a {
    background: transparent !important;
    &:hover{
      background: transparent !important;
    }
  }


  .dropdown-menu{
    background: fade(@secondary, 35%) !important;
    text-align: center !important;
    border-bottom:5px solid @primary;
  }
}


@media (max-width: 1091px) {
  .navbar-nav .open .dropdown-menu>li>a{ padding: 0; }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}