<form ng-submit="editTeam(team)" class="text-center clearfix">
  <h2>Gestione team</h2>
  <hr>
  <i class="fa fa-pencil pull-right pointer" ng-click="editMode = !editMode"></i>
  <div ng-show="!editMode">
    <div class="small-avatar" ng-show="team.media">
      <img ng-src="{{ team.media.path }}"
      flow-init="{ testChunks:false, singleFile: true }" 
      flow-files-submitted="submit($file, $event, $flow, team)"
      flow-file-success="upload()"
      flow-btn flow-attrs="{accept:'image/*'}">
    </div>
    <i class="fa fa-photo fa-3x"
      ng-show="!team.media" 
      flow-init="{ testChunks:false, singleFile: true }" 
      flow-files-submitted="submit($file, $event, $flow, team)"
      flow-file-success="upload()"
      flow-btn flow-attrs="{accept:'image/*'}">
    </i>
    <h3>{{ team.name | uppercase }}</h3>
    <small>Girone: {{ team.round.name }} </small>
  </div>
  <div ng-show="editMode">
    <input type="text" class="form-control" ng-model="team.name" value="{{team.name}}">
    <div class="clearfix"></div>
    <div class="submit-box">
      <button class="btn btn-primary" type="submit" ng-disabled='!team.name'>Modifica</button>
    </div>
  </div>
</form>


<div class="col-md-6 clearfix">
  <form ng-submit="createPlayer(player)" class="text-center">
    <h3>Aggiungi giocatore</h3>
    <hr>
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Nome Giocatore" ng-model="player.name">
    </div>
    <div class="clearfix"></div>
    <div class="submit-box">
      <button class="btn btn-primary" type="submit" ng-disabled='!player.name'>Create</button>
    </div>
  </form>
</div>

<div class="col-md-6">
  <div class="globus-box text-center group-photo">
    <h3>Foto di squadra</h3>
    <hr>
    <div class="group-avatar pointer" ng-show="team.group_photo">
      <img ng-src="{{ team.group_photo.path }}"
        flow-init="{ testChunks:false, singleFile: true }" 
        flow-files-submitted="submitGroupPhoto($file, $event, $flow, team)"
        flow-file-success="uploadedGroupPhoto($file,$message,$flow, team )"
        flow-btn flow-attrs="{accept:'image/*'}">
    </div>
      <i class="fa fa-photo fa-3x pointer"
        ng-show="!team.group_photo"
        flow-init="{ testChunks:false, singleFile: true }" 
        flow-files-submitted="submitGroupPhoto($file, $event, $flow, team)"
        flow-file-success="uploadedGroupPhoto($file, $message, $flow, team)"
        flow-btn flow-attrs="{accept:'image/*'}">
      </i>
  </div>
</div>



<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-sm-1"> <i class="fa fa-cog"></i></th>
      <th class="col-sm-1"> <i class="fa fa-photo"></i></th>
      <th><i class="fa fa-user"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in team.player">
      <td>  
        <i class="fa fa-remove pointer" ng-click="deletePlayer(player)"></i> 
        <i class="fa fa-pencil pointer" ui-sref="admin.player({ player_id: player.id })"></i>
      </td>
      <td> <img ng-src="{{ player.media.path }}" alt=""> </td>
      <td>{{ player.name }}</td>
    </tr>
  </tbody>
</table>

