<form ng-submit="editTeam(team)" class="text-center">
  <h2>Gestione team</h2>
  <hr>
  <i class="fa fa-pencil pull-right pointer" ng-click="editMode = !editMode"></i>
  <div ng-show="!editMode">
    <div class="small-avatar" ng-show="team.media">
      <img ng-src="{{ team.media.path }}"
      flow-init="{ testChunks:false, singleFile: true }" 
      flow-files-submitted="submit($file, $event, $flow, team)"
      flow-file-success="upload()"
      flow-btn flow-attrs="{accept:'image/*'}">
    </div>
    <i class="fa fa-photo fa-3x"
      ng-show="!team.media" 
      flow-init="{ testChunks:false, singleFile: true }" 
      flow-files-submitted="submit($file, $event, $flow, team)"
      flow-file-success="upload()"
      flow-btn flow-attrs="{accept:'image/*'}">
    </i>
    <h3>{{ team.name | uppercase }}</h3>
    <small>Girone: {{ team.round.name }} </small>
  </div>
  <div ng-show="editMode">
    <input type="text" class="form-control" ng-model="team.name" value="{{team.name}}">
    <!-- <br>
    <label for="round">Girone:</label>
    <select ng-options="round.id as round.name for round in rounds" ng-model="team.round_id"></select> -->
    <div class="submit-box">
      <button class="btn btn-primary" type="submit" ng-disabled='!team.name'>Modifica</button>
    </div>
  </div>
  <div class="clearfix"></div>
</form>
<form ng-submit="createPlayer(player)" class="text-center">
  <h3>Aggiungi giocatore</h3>
  <hr>
  <div class="col-sm-12">
    <input type="text" class="form-control" placeholder="Nome Giocatore" ng-model="player.name">
  </div>
  <div class="clearfix"></div>
  <div class="submit-box">
    <button class="btn btn-primary" type="submit" ng-disabled='!player.name'>Create</button>
  </div>
</form>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-sm-1"> <i class="fa fa-cog"></i></th>
      <th class="col-sm-1"> <i class="fa fa-photo"></i></th>
      <th><i class="fa fa-user"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in team.player">
      <td>  
        <i class="fa fa-remove pointer" ng-click="deletePlayer(player)"></i> 
        <i class="fa fa-pencil pointer" ui-sref="admin.player({ player_id: player.id })"></i>
      </td>
      <td> <img ng-src="{{ player.media.path }}" alt=""> </td>
      <td>{{ player.name }}</td>
    </tr>
  </tbody>
</table>

