<form ng-submit="editTeam(team)" class="text-center">
  <i class="fa fa-pencil pull-right pointer" ng-click="editMode = !editMode"></i>
  <div ng-show="!editMode">
    <h3>{{ team.name | uppercase }}</h3>
    <small>Girone: {{ team.round.name }} </small>
  </div>
  <div ng-show="editMode">
    <input type="text" class="form-control" ng-model="team.name" value="{{team.name}}">
    <!-- <br>
    <label for="round">Girone:</label>
    <select ng-options="round.id as round.name for round in rounds" ng-model="team.round_id"></select> -->
    <div class="submit-box">
      <button class="btn btn-primary" type="submit" ng-disabled='!team.name'>Modifica</button>
    </div>
  </div>
  <div class="clearfix"></div>
</form>
<form ng-submit="createPlayer(player)" class="text-center">
  <h3>Aggiungi giocatore</h3>
  <hr>
  <div class="col-sm-12">
    <input type="text" class="form-control" placeholder="Nome Giocatore" ng-model="player.name">
  </div>
  <div class="clearfix"></div>
  <div class="submit-box">
    <button class="btn btn-primary" type="submit" ng-disabled='!player.name'>Create</button>
  </div>
</form>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-sm-1">#</th>
      <th class="col-sm-1"> <i class="fa fa-cog"></i></th>
      <th><i class="fa fa-user"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in team.player track by $index">
      <td>{{ $index +1 }}</td>
      <td> <i class="fa fa-close" style="color:red;" ng-click="deletePlayer(player)"></i> </td>
      <td>{{ player.name }}</td>
    </tr>
  </tbody>
</table>


<div class="globus-box">
  <div  flow-init="{ testChunks:false, singleFile: true }" 
            flow-files-submitted="submit($file, $event, $flow, team)"
            flow-file-success="">

        <div class="submit-box">
          <button class="btn btn-primary" flow-btn flow-attrs="{accept:'image/*'}">Upload</button>
        </div>
      </div>
</div>
