<div class="single-player clearfix">

  
  <div class="player-avatar pull-left" style="background: url({{ player.media.path }});" >
    <i class="fa fa-user fa-3x" ng-hide="player.media"></i>
  </div>
  <div class="player-detail pull-left">
    <div class="player-name">{{ player.name }}</div>
    <div class="player-meta">
      <span>
       <i class="fa fa-check attendance"></i>&nbsp;<strong>Presenze: </strong> {{ player.attendance.length }}
      </span>
      <span>
        <i class="fa fa-futbol-o scores"></i>&nbsp;<strong>Goals: </strong>  {{ player.scores.length }}
      </span>
      <span>
        <i class="fa fa-square warning"></i>&nbsp;<strong>Ammonizioni: </strong>  {{ player.warning.length }}
      </span>
      <span>
        <i class="fa fa-square expulsion"></i>&nbsp;<strong>Espulsioni: </strong>  {{ player.expulsion.length }}
      </span>
    </div>
    
  </div>

</div>