<!-- CONTENT CONTAINER -->
<div class="col-sx-12 col-sx-offset-0">

  <!-- TRANSCLUDED CONTAINER -->
  <div class="col-xs-12 col-md-9 clearfix" id="side-content-container">
    <div ng-transclude></div>
  </div><!-- /TRANSCLUDED CONTAINER -->
  
  <!-- SPONSOR CONTAINER -->
  <div class="col-md-3 clearfix" id="side-sponsor-container">
    <h6 class="title" style="margin-top: 0px; margin-bottom: 0px;"><strong>sponsor</strong></h6>
    <img ng-src="{{ sponsor.path }}" alt="" class="public-sponsor" ng-repeat="sponsor in sponsors">
  </div>

</div><!-- /CONTENT CONTAINER -->