<div class="globus-table-container" ng-show="ready">
  <div class="pills-container clearfix">

    <div  
          class="pill" 
          ng-class="{ 'active': roundFilterId === round.id }" 
          ng-repeat="round in rounds track by $index" ng-click=" changeRound(round) "
          ng-init=" ( !roundFilterId && $index === 0) ? changeRound(round) : true;">
          <span class="girone-label">{{ roundFilterId === round.id ? 'GIRONE' : '' }}</span> {{ round.name }}
    </div>
    
  </div> 

  <div class="globus-table">

    <div class="table-header clearfix">
          <div class="col-xs-3 text-center"> 
            <strong class="hidden-xs">posizione</strong> 
          </div>
          <div class="col-xs-6 col-xs-offset-2 text-left"> 
            <i class="fa fa-user"></i>
            <strong class="hidden-xs hidden-md-up">Giocatore</strong>
          </div>
          <div class="col-xs-2 text-center"> 
            <i class="fa fa-futbol-o hidden-md-up"></i>
            <strong class="hidden-xs">Goals</strong> 
          </div>
      </div>
      <div ng-repeat="player in players | orderBy: '-scores.length' | playerRoundFilter: roundFilterId | limitTo: scorerLimit track by $index ">
        <div class="table-row clearfix" ui-sref="public.team({ team_id: {{player.team.id}} })">
          <div class="col-xs-2 text-center scorer-rank-{{ $index + 1 }}" style="font-size: 1.5em;">
               {{ $index + 1 }}
               <i class="fa fa-trophy" ng-show="{{ $index >= 0 && $index <= 2 }} "></i>
          </div>
          <div class="col-xs-2 text-center avatar-bg hidden-xs" style="background: url({{ player.media.path }})"></div>
          <div class="col-xs-5 col-sm-6 text-left">{{ player.name }} - <small>{{ player.team.name }}</small></div>
          <div class="col-xs-4 col-sm-2 text-center">{{ player.scores.length }}</div>
        </div>
        <div class="clearfix"></div>
      </div> 

  <div class="table-viewmore pointer" ng-click="scorerLimit = undefined">{{ scorerLimit ? 'Vedi tutti' : ''}}</div>
  </div>
</div>