
<div class="globus-table-container" ng-show="ready">
  <div class="pills-container clearfix">

    <div  
          class="pill" 
          ng-class="{ 'active': roundFilterId === round.id }" 
          ng-repeat="round in rounds track by $index" ng-click=" changeRound(round) "
          ng-init=" ( !roundFilterId && $index === 0) ? changeRound(round) : true;">
          <span class="girone-label">{{ roundFilterId === round.id ? 'GIRONE' : '' }}</span> {{ round.name }}
    </div>
    
  </div> 

  <div class="globus-table">
    <!-- DAY -->
    <div ng-repeat="day in days">
      <pre>{{ day | json }}</pre>
      <!-- SINGLE DAY -->
      <div ng-repeat="match in day.matches">
        <span class="hide" ng-repeat="score in match.scores | groupBy: 'team_id' as teamScores"></span>
        <span class="hide" ng-repeat="filterWarnings in match.warning | groupBy: 'player.team_id' as teamWarning"></span>
        <span class="hide" ng-repeat="filterExpulsions in match.expulsion | groupBy: 'player.team_id' as teamExpulsion"></span>
       
        <div class="match_date"> <i class="fa fa-calendar"></i> {{ match.date}} &nbsp; <i class="fa fa-clock-o"></i> {{ match.hour }}</div>
        <div class="table-row clearfix" ng-click="showMatchDetail = !showMatchDetail ">
          <div class="col-sm-2 text-left hidden-xs" >
            <div class="small-avatar">
              <img ng-src="{{ match.team_a.media.path }}" alt="">
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 text-center">{{ match.team_a.name }}</div>
          <div class="col-xs-4 col-sm-2 text-center result">
            {{ teamScores[match.team_a.id].length || '0' }} - {{ teamScores[match.team_b.id].length || '0' }} <br>
          </div>
          <div class="col-xs-4 col-sm-3 text-center">{{ match.team_b.name }}</div>
          <div class="col-sm-2 text-right hidden-xs" >
            <div class="small-avatar">
              <img ng-src="{{ match.team_b.media.path }}" alt="">
            </div>
          </div>
        </div>
        <div class="match-detail clearfix" ng-show="showMatchDetail">
          <div class="col-xs-6 col-xs-offset-0 col-sm-3 col-sm-offset-2 detail-left">

            <div ng-repeat="score in teamScores[match.team_a.id]"> 
              <i class="fa fa-futbol-o"></i> {{ score.player.name }}
            </div>
            <div ng-repeat="warning in teamWarning[match.team_a.id]"> 
              <i class="fa fa-square primary"></i> {{ warning.player.name }}
            </div>
            <div ng-repeat="expulsion in teamExpulsion[match.team_a.id]"> 
              <i class="fa fa-square red"></i> {{ expulsion.player.name }}
            </div>

          </div>
          <div class="col-xs-6 col-xs-offset-0 col-sm-3 col-sm-offset-2 detail-rigth">
            <div ng-repeat="score in teamScores[match.team_b.id]"> 
              <i class="fa fa-futbol-o"></i> {{ score.player.name }}
            </div>
            <div ng-repeat="warning in teamWarning[match.team_b.id]"> 
              <i class="fa fa-square primary"></i> {{ warning.player.name }}
            </div>
            <div ng-repeat="expulsion in teamExpulsion[match.team_b.id]"> 
              <i class="fa fa-square red"></i> {{ expulsion.player.name }}
            </div>              
          </div>
        </div>
      </div><!-- SINGLE DAY -->
    </div><!-- DAY -->

  </div>
</div>