@import 'public/angular-animation';
@import 'public/fonts';
@import 'public/colors';
@import 'public/responsive';
@import 'public/resets';
@import 'public/common';



.navbar{
  background: transparent;
  border-radius: 0px;
  border:none;
  left:0;
  width: 100%;
  color:@white;
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid fade(@white, 25%);
  z-index: 9999;
  transition: background-color ease-out 0.5s;


  &.nav-dark{
    background: @dark-grey;
  }

  .navbar-brand{
    padding:10px;
  }
  .navbar-brand img{
    max-height: 100%;
  }

  .open{
    a{ background: none !important;}
  }

  .nav{ 
    a{
      color:@white !important;
    }
  }

  .dropdown-menu{
    background: fade(@secondary, 35%) !important;
    text-align: center !important;
    border-bottom:5px solid @primary;
  }
}



.landing-container{
  position:relative;
  top:0; left:0;
  z-index: -9;
  height: 100vh;
  background-image: url('/images/stadium.jpg');
  background-size: cover;
  background-position: center center;

  .heading{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:@white;
  }

  .title{
    font-size: 8em;
    text-align: center;
    font-family: 'Arial';
    text-transform: lowercase;
    color:@white;
    text-shadow: 1px 1px 1px @black;
    strong{
      color:@yellow;
    }
  }
  
  .subtitle{
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.latest-match-container{
  padding-top: 75px;
  padding-bottom: 75px;
  .latest-match{

    .team-name{
      .bold;
      margin-top: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .result{
      height: 100px;
    }
  }
}

.next-match-container{
  z-index: -99;
  padding: 0;
  height: 400px;
  //background: url('/images/player.jpg');
  background-position: bottom center;

  .left-container{
    background:  fade(@primary, 85%);
    height:100%;
    width: 40%;
    float:left;
    
  }
  .right-container{
    background: fade(@secondary, 85%);
    height: 100%;
    width: 60%;
    float:left;
  }
}

.news-container{
  padding-top: 75px;
  padding-bottom: 75px;
  
  & > .title{
    text-align: center;
    margin-bottom: 50px;
  }

  .single-news{
    position: relative;
    height: 200px; 
    
    .featured{
      height: 100%;
      float:left;
      width: 40%;

      background: url('/images/field.jpg');
      background-position: center center;
    }
    .excerpt{
      text-align: center;
      height: 100%;
      background: @grey;
      float:left;
      width: 60%;
      .single-title{ 
        .bold;
        font-size: 1.5em; 
        color: @primary;
      }
      .body{
        .light;
        padding:5px;
      }
      .read-more{
        cursor:pointer;
        .bold;
        text-transform: uppercase;
        position: absolute;
        bottom:10px;
        right:25px;
        font-size: 0.9em;
        color:@primary;
        
        i{ .smooth; }

        &:hover{
          i{font-size: 1.1em;}
        }
      }
    }
  }
}

.sponsor-container{
  min-height: 250px;
  background: url('/images/field.jpg');
  background-position: bottom center;
  .title{
    color: @white;
    text-align: center;
  }
}

.media-container{
  padding-top: 75px;
  padding-bottom: 75px;

  .media-item{
    overflow:hidden;
    max-height: 150px;
    margin-bottom: 20px;
  }
}

.footer-container{
  height: 250px;
  background: @black;
}


.login-page{
  height: 100vh;
  background: @dark-grey;

  .form {
    .vertical-center;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
    input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: @primary;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      .smooth;
        
      &:hover, &:active, &:focus{
        background: @dark-grey;
      }
    }
  }
}
