
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    AddDefaultCharset UTF-8

    RewriteBase /

    #if not facebook redirect to application
    RewriteCond %{HTTP_USER_AGENT} !facebookexternalhit/[0-9]
    Rewriterule ^socialbot/news/(.*)$ http://www.globuscup.it/news/$1 [NC,L]

    RewriteCond %{HTTP_USER_AGENT} !facebookexternalhit/[0-9]
    Rewriterule ^socialbot/team/(.*)$ http://www.globuscup.it/team/$1 [NC,L]

    #home
    RewriteCond %{HTTP_USER_AGENT} !facebookexternalhit/[0-9]
    Rewriterule ^socialbot/home(.*)$ http://www.globuscup.it [NC,L]

    
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


</IfModule>


RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]


php_value file_uploads On
php_value upload_max_filesize 40M
php_value post_max_size 100M
php_value max_execution_time 600
php_value max_input_time 600
php_value always_populate_raw_post_data -1
