<nav class="navbar navbar-default" public-navigation>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-3x"></i>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="nav navbar-nav navbar-right">
        
        <li ng-class=" {current: stateLocation == 'public.home'} "><a ui-sref="public.home"> Home</a></li>

        <li class="dropdown" ng-class=" {current: stateLocation == 'public.rankings' } ">  
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classifiche <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:white;">
            <i class="fa fa-futbol-o fa-spin" ng-show="!rounds.length"></i>
            <li ng-repeat=" round in rounds"><a ui-sref="public.rankings({ round: round.id })"> Girone {{ round.name}} - <small>{{ round.club }}</small></a></li>
          </ul>
        </li>

        <li ng-class=" {current: stateLocation == 'public.scorers'} "><a ui-sref="public.scorers"> Marcatori</a></li>

        <!-- <li ng-class=" {current: stateLocation == 'public.calendars'} "><a ui-sref="public.calendars"> Calendari</a></li> -->

        <li class="dropdown" ng-class=" {current: stateLocation == 'public.calendars' } ">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendari <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:white;">
            <i class="fa fa-futbol-o fa-spin" ng-show="!rounds.length"></i>
            <li ng-repeat=" round in rounds"><a ui-sref="public.calendars({ round: round.id })"> Girone {{ round.name}} - <small>{{ round.club }}</small></a></li>
          </ul>
        </li>

        
        <li class="dropdown" ng-class=" {current: stateLocation == 'public.news'  || stateLocation == 'public.rules' } ">  
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articoli <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="public.news({ type: 'news' })"> Articoli</a></li>
            <li><a ui-sref="public.news({ type: 'comunicato' })"> Comunicati</a></li>
            <li ng-class=" {current: stateLocation == 'public.rules'} "><a ui-sref="public.rules"> Regolamento</a></li>
          </ul>
        </li>

        <li class="dropdown" ng-class=" {current: stateLocation == 'public.medias' } ">  
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="public.medias({ type: 'photo' })"> Foto</a></li>
            <li><a ui-sref="public.medias({ type: 'video' })"> Video</a></li>
          </ul>
        </li>


        <li ng-class=" {current: stateLocation == 'public.contacts'} "><a ui-sref="public.contacts"> Contatti</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

