
<div class="container-fluid common-page-container">
  <div class="heading-image">
    <h1 class="title">Foto & <strong>Video</strong></h1>
  </div>
  
  <loading show='media.length || loading'></loading>
  <main-content ng-show="media.length || loading">

  <div ng-show="type === 'photo' " column-width="200" masonry>

      <div class="masonry-brick" ng-repeat="photo in media">
          <img ng-src="{{ photo.path }}" alt="A masonry brick" style="max-width: 200px; width:100%; padding:5px;" ui-sref="public.medias.modal({  item: photo.filename })">
      </div>
  </div>


  <div ng-show="type === 'video' ">
    <div class="col-md-4" ng-repeat="video in media">
      <iframe ng-src="{{video.path | trustedUrl }}" allowfullscreen="" frameborder="0">
      </iframe>
    </div>
  </div>

  
  <!-- SINGLE MODAL -->
  <div ui-view></div>

<!--     <button ng-class="{ 'active': mediaType === undefined }" ng-click="mediaType = undefined ">ALL</button>
    <button ng-class="{ 'active': mediaType === 'photo' }" ng-click="mediaType = 'photo'">Photo</button>
    <button ng-class="{ 'active': mediaType === 'video' }" ng-click="mediaType = 'video'">Video</button>
    <br>
    <pre>{{ media | filter: { type: mediaType   } }}</pre> -->
  </main-content>
</div>

<ng-include ng-show='media.length || loading' src=" 'app/public/footer.html' "></ng-include>
