<div class="container-fluid common-page-container">
  <div class="heading-image">
    <h1 class="title">Foto & <strong>Video</strong></h1>
  </div>
  
  <loading show='media.length'></loading>
  <main-content ng-show="media.length">
    <button ng-class="{ 'active': mediaType === undefined }" ng-click="mediaType = undefined ">ALL</button>
    <button ng-class="{ 'active': mediaType === 'photo' }" ng-click="mediaType = 'photo'">Photo</button>
    <button ng-class="{ 'active': mediaType === 'video' }" ng-click="mediaType = 'video'">Video</button>
    <br>
    <pre>{{ media | filter: { type: mediaType   } }}</pre>
  </main-content>
</div>

